/* #login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

#login-box{
  min-width: 400px;
  width: fit-content;
  height: fit-content;
  padding:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(/src/assets/images/purple.jpg) no-repeat center center/cover;;
  border-radius: 20px;
  color: white;
  box-shadow: 0px 5px 5px rgba(0.5, 0.8, 0.5, 0.8);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
input{
  margin:10px 0;
  padding:5px;
}
#suggest-to-register{
  margin-top: 10px;
}
#register-btn{
color:#ffbe00;
margin-left: 5px;
}
.account-question{
  margin-top: 10px;
}
.server-status p{
    color: black;
    margin-top: 20px;

}
.loader {
      margin-top: 50px;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: purple;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}



    
@media (max-width: 768px) {
  #login{
    min-width: 300px;
  }
} */
.loader {
      margin-top: 10px;
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #004fcf;
  --_m: 
    conic-gradient(#0000 10%,#000),
    linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
          mask: var(--_m);
  -webkit-mask-composite: source-out;
          mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}